p {
	font-family: 'Indie Flower';
}

div.pargraphs {
	background-color: red;
}

body {

}

h1 {
	text-align: center;
	font-family: cursive !important;
	font-size: 150px !important;
}

h1, h2, h3, h4, h5, h6, p {

}

div.funFacts {
	
}